{% extends 'admin/master.html' %}
{% from "_formhelpers.html" import render_field %}

{% block head_css %}
{{ super() }}
<link href="{{ url_for('static', filename='sb.admiin-2.css') }}" rel='stylesheet'>
{% endblock head_css %}


{% block body %}
{{ super() }}
<ul class="nav nav-tabs actions-nav">
  <li>
    <a href="..">List</a>
  </li>


  <li class='active'>
    <a href="../new" title="Create New Task">Lisa</a></li>
</ul>
<form id="uus_logi" method="post">
  <dl>

    {{ render_field(form.sport) }}
    <div id="täpsemaltdiv">
    {{ render_field(form.type) }}
    </div>
    {{ render_field(form.description) }}
    {{ render_field(form.deadline) }}
    {{ render_field(form.klass) }}

  </dl>
  <button type="submit" name="uus_logi">Lisa ülesanne</button>
</form>


<script type="text/javascript">
    let sport_select = document.getElementById('sport');
    let type_select = document.getElementById('type');

    sport_select.onchange = function() {
      sport = sport_select.value;

      fetch('/new_log/' + sport).then(function(response) {

        response.json().then(function(data) {
            let optionHTML = '';

            for (let type of data.types) {
              optionHTML += '<option value="' + type.id + '">' + type.type + '</option>';
            };

            type_select.innerHTML = optionHTML;
        });
      });
    }

</script>
{% endblock body %}
