{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}
<h1>HEY!!!!</h1>
<script type="text/javascript">
    let sport_select = document.getElementById('sport2');
    let type_select = document.getElementById('type');

    sport_select.onchange = function() {
      alert('change');
      /*\sport = sport_select.value;

      fetch('/task/' + sport).then(function(response) {

        response.json().then(function(data) {
            let optionHTML = '';

            for (let type of data.types) {
              optionHTML += '<option value="' + type.id + '">' + type.type + '</option>';
            };

            type_select.innerHTML = optionHTML;
        });
      });*/
    }
</script>
{% endblock body %}
