{% macro trainings_field(training) %}
  <dt>Spordiala
  <dd>
    {{ training.sport.sport }}
  </dd>
  <dt>Kui kaua?
  <dd>
    {{ training.years|string + ' aastat' }}
  </dd>
  <dt>Võistlused?
  <dd>
    {% if training.comp %}
      Jah
    {% else %}
      Ei
    {% endif %}
  </dd>
  <dt>Praegu käid?
  <dd>
    {% if training.years_ago %}
      Ei
    {% else %}
      Jah
    {% endif %}
  </dd>
  {% if training.years_ago %}
    <dt>Mitu aastat tagasi?
    <dd>
      {{ training.years_ago|string + ' aastat tagasi' }}
    </dd>
  {% endif %}
  <form class="remove_training" method="post">
    <button type="submit" value="{{ training.id }}" name="remove_training">Eemalda trenn</button>
  </form>
{% endmacro %}

{% macro log_field(log) %}
<li>
  <div>
    <div class="row">
      <h1 class="col s6">
        {{ log.result }}
      </h1>

      <h4 class="col s6">
        {{ log.sport.type }}
      </h4>
    </div>
    <div class="row">
      <p class="col s6">
        {{ log.time_posted }}
      </p>
      <a href="/stats/{{ log.id }}" class="btn-small col s6 valign-wrapper">STATISTIKA</a>
    </div>
  </div>
</li>
{% endmacro %}
