{% macro trainings_field(training) %}
<br>
<div class="input-field">
  <select id="sport" name="sport" disabled><option>{{ training.sport.sport }}</option></select>
  <label for="sport">Spordiala</label>
</div>
<div class="input-field">
  <select id="howlong" name="sport" disabled><option>{{ training.years|string + ' aastat' }}</option></select>
  <label for="howlong">Kui kaua?</label>
</div>
<div class="input-field">
  <select id="comp" name="sport" disabled>
      {% if training.comp %}<option>Jah</option>
      {% else %}<option>Ei</option>
      {% endif %}
  </select>
  <label for="comp">Võistlused?</label>
</div>
<div class="input-field">
  <select id="active" name="sport" disabled>
      {% if training.years_ago %}<option>Ei</option>
      {% else %}<option>Jah</option>
      {% endif %}
  </select>
  <label for="active">Praegu käid?</label>
</div>
{% if training.years_ago %}
  <div class="input-field">
    <select id="yago" name="sport" disabled><option>{{ training.years_ago|string + ' aastat tagasi' }}</option></select>
    <label for="yago">Mitu aastat tagasi?</label>
  </div>
{% endif %}
<form class="remove_training" method="post">
  <button type="submit" value="{{ training.id }}" name="remove_training" class="btn-small">Eemalda trenn</button>
</form>
{% endmacro %}

{% macro log_field(log) %}
<li>
  <div>
    <div class="row">
      <div class="col s6 m3">
        <h3 class="nomargin">
          {{ log.result }}
        </h3>
      </div>
      <div class="col s6 m5">
        <h5 class="">
          {{ log.sport.type }}
        </h5>
      </div>
      <div class="col s12 m4 right-align">
        <br>
        <a href="/stats/{{ log.id }}" class="btn-small"><i class="material-icons left">bar_chart</i>STATISTIKA</a>
        <p class="nomargin">
          {{ log.time_posted }}
        </p>
      </div>
    </div>
  </div>
  <div class="divider"></div>
</li>
{% endmacro %}
