{% from "_formhelpers.html" import render_inputfield %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=viewport-width, initial-scale=1.0">
    <title>Python Flask</title>
    <!--Imprort Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container verticalalign">
      <div class="bodywrapper">
        <div class="row">
          <h1 class="center-align" id="logo">SP</h1>
          <br>
          <form id="login" method="POST">
            {{ render_inputfield(form.email) }}
            {{ render_inputfield(form.password) }}
            <div class="switch">
              <label>
                {{ form.remember.label }}
                {{ form.remember }}
                <span class="lever"></span>
              </label>
            </div>
            <br>
            <button class="btn col s6" type="submit" name="login">LOGI SISSE</button>
          </form>
          <a href="{{ url_for('register') }}" class="btn col s6">REGISTREERI</a>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        $('select').formSelect();
      });
    </script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="static/js/materialize.js"></script>
  </body>
</html>
