{% extends "main.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}

<h1 class="center-align">SEADED</h1>

<form id="settings" method="POST">
  <dl>

    {{ render_field(form.klass) }}
    {{ render_field(form.isikukood) }}
    {{ render_field(form.email) }}

  </dl>
  <button type="submit" name="lisa_isikukood" class="btn">Salvesta</button>
</form>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').formSelect();
    });
  </script>
{% endblock %}
