{% extends "main.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
{% from "_traininghelpers.html" import trainings_field %}

<h1>TREENINGUD</h1>
<form id="add_training" method="POST">
  <dl>
    <div class="input-field">
      {{ render_field(form.sport) }}
    </div>
    <div class="input-field">
      {{ render_field(form.period) }}
    </div>
    <div class="input-field">
      {{ render_field(form.competitions) }}
    </div>
    <div class="input-field">
      {{ render_field(form.active, onchange="java_script_:show(this.options[this.selectedIndex].value)")}}
    </div>
    <div id="years_ago_div" style="display:none" class="input-field">
      {{ render_field(form.years_ago) }}
    </div>
  </dl>
  <button type="submit" name="add_training">Lisa trenn</button>
</form>

{% for training in trainings_list %}
  <dl>
    {{ trainings_field(training) }}
  </dl>
{% endfor %}


<a href="{{ url_for('home') }}">
  <button type="button" name="back">Back</button>
</a>


{% endblock %}
{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $('select').formSelect();
  });

  function show(YoN) {
    if (YoN == 'N') {
      years_ago_div.style.display = 'inline-block';
    }
    else {
      years_ago_div.style.display = 'none';
    }
  }
</script>

{% endblock %}
