{% extends "main.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
{% from "_traininghelpers.html" import trainings_field %}

<h1>TREENINGUD</h1>
<form id="add_training" method="POST">
  <dl>
    {{ render_field(form.sport) }}
    {{ render_field(form.period) }}
    {{ render_field(form.competitions) }}
    {{ render_field(form.active, onchange="java_script_:show(this.options[this.selectedIndex].value)")}}
    <div id="years_ago_div", style="display:none">
    {{ render_field(form.years_ago) }}
    </div>
  </dl>
  <button type="submit" name="add_training">Lisa trenn</button>
</form>

{% for training in trainings_list %}
  <dl>
    {{ trainings_field(training) }}
  </dl>
{% endfor %}


<a href="{{ url_for('home') }}">
  <button type="button" name="back">Back</button>
</a>

<script type="text/javascript">
  function show(YoN) {
    if (YoN == 'N') {
      years_ago_div.style.display = 'inline-block';
    }
    else {
      years_ago_div.style.display = 'none';
    }
  }
</script>

{% endblock %}
