{% extends "main.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
{% from "_traininghelpers.html" import trainings_field %}

<h1 class="center-align">TREENINGUD</h1>
<form id="add_training" method="POST">

    {{ render_field(form.sport) }}


    {{ render_field(form.period) }}


    {{ render_field(form.competitions) }}


    {{ render_field(form.active, onchange="java_script_:show(this.options[this.selectedIndex].value)")}}

  <div id="years_ago_div" style="display:none">
    {{ render_field(form.years_ago) }}
  </div>
  <br>
  <button type="submit" name="add_training" class="btn">LISA TRENN</button>
  <a href="{{ url_for('home') }}" class="btn">TAGASI</a>
</form>

{% for training in trainings_list %}

    {{ trainings_field(training) }}

{% endfor %}

<br>
<br>
<br>
<br>
<br>

{% endblock %}
{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $('select').formSelect();
  });

  function show(YoN) {
    if (YoN == 'N') {
      years_ago_div.style.display = 'inline-block';
    }
    else {
      years_ago_div.style.display = 'none';
    }
  }
</script>

{% endblock %}
