{% extends "main.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}

  <h5 class="center-align">LISA TULEMUS</h5>

  <form id="uus_logi" method="post">
    {% if not sportname %}
      {{ render_field(form.sport) }}
      {{ render_field(form.type) }}
    {% else %}
    <div class="input-field">
      <select id="active" name="sport" disabled>
          <option>{{ sportname }}</option>
      </select>
      <label for="spordiala">Spordiala</label>
    </div>
    {% endif %}
    {{ render_field(form.result) }}
    <button type="submit" name="uus_logi" class="btn">LISA SOORITUS</button>
  </form>
{% endblock %}
{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').formSelect();
    });

    // 1) setup listener for custom event to re-initialize on change
    $('select').on('contentChanged', function() {
      $(this).formSelect();
    });


  </script>

  <script type="text/javascript">

      let sport_select = document.getElementById('sport');
      let type_select = document.getElementById('type');

      sport_select.onchange = function() {
        sport = sport_select.value;

        fetch('/new_log/' + sport).then(function(response) {

          response.json().then(function(data) {
              let optionHTML = '';

              for (let type of data.types) {
                //optionHTML += '<option value="' + type.id + '">' + type.type + '</option>';
                var $newOpt = $("<option>").attr('value',type.id).text(type.type);
                $('#type').append($newOpt);
                //$('#type').trigger('contentChanged');
              };
              $('#type').trigger('contentChanged');
              //type_select.innerHTML = optionHTML;
          });
        });
      }
  </script>
{% endblock %}
